<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/addtitle.css">



    <title>Add Title</title>
</head>


<body>
  <h1 id="heading" >Video Details</h1>

  <div class="row">
      <div class="col-md-6">

                  <label for="Title" class="col-sm-2 control-label">Title</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="Title" placeholder="add title">
                  </div>




                  <label for="Year" class="col-sm-2 control-label">Year</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="Year" placeholder="Year Released">
                  </div>



                  <label for="Runtime" class="col-sm-2 control-label">Runtime</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="Runtime" placeholder="duration">
                  </div>





                  <label for="Country" class="col-sm-2 control-label">Country</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="Country" placeholder="Country">
                  </div>





                  <label for="Language" class="col-sm-2 control-label">Language</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="Language" placeholder="Language">
                  </div>



                  <label for="Awards" class="col-sm-2 control-label">Awards</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="Awards" placeholder="Awards">
                  </div>





      </div>

      <div class="col-md-6">

                  <label for="Plot" class="col-sm-2 control-label">Plot</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="Plot" placeholder="add plot">
                  </div>




                  <label for="ImdbRating" class="col-sm-2 control-label">ImdbRating</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="ImdbRating" placeholder="add ImdbRating">
                  </div>



                  <label for="ImdbVotes" class="col-sm-2 control-label">ImdbVotes</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="ImdbVotes" placeholder="add ImdbVotes">
                  </div>





                  <label for="ImdbId" class="col-sm-2 control-label">ImdbId</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="ImdbId" placeholder="add ImdbId">
                  </div>





          <label for="Poster" class="col-sm-2 control-label">Poster</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="Poster" placeholder="Poster url">
          </div>









          <label  class="col-sm-2 control-label">Genre</label>
                  <div class="col-sm-2">
                      <input type="checkbox" name="vehicle" value="genre">Action


                  </div>
                  <div class="col-sm-2">
                      <input type="checkbox" name="vehicle" value="genre">Comedy
                  </div>
                  <div class="col-sm-2">
                      <input type="checkbox" name="vehicle" value="genre">Thriller
                  </div>
                  <div class="col-sm-2">
                      <input type="checkbox" name="vehicle" value="genre">Sci-Fi
                  </div>
                 <div class="col-sm-2">
                     <input type="checkbox" name="vehicle" value="genre">Adventure
                 </div>










      </div>

      </div>

  <div class="sub">
  <button type="button" class="btn btn-primary">SUBMIT</button>
  </div>



















  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>