<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/details.css">
    <title>Details</title>
</head>
<body>

<div class="row">
    <div class="col-sm-6">

        <button type="button" id="homebutton" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-home" aria-hidden="true"> </span>

        </button>

    </div>






    <div class="col-sm-6">


        <button type="button" id="signoutbutton" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>

        </button>


    </div>
</div>


<div class="row">


    <div class="col-md-12">

        <div class="col-sm-3">

            <img src="http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg" width="200" height="300" class = padam>
        </div>


        <div class="col-sm-9">

             asdfasdasfdlknalsfkasf;a;sjfkjaskjfkjaskfjaksjfkajskfjalksjflkajsflkjaslkfjaslfdhlsjflksdjflksjlkfjalskjfklsjflksj





        </div>

        <div class="col-sm-9">

            asdfasdasfdlknalsfkasf;a;sjfkjaskjfkjaskfjaksjfkajskfjalksjflkajsflkjaslkfjaslfdhlsjflksdjflksjlkfjalskjfklsjflksj





        </div>






    </div>








</div>























</body>
</html>