<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/sign.css">
    <title>Sign In</title>
</head>
<body>



<div id="containerdiv" >

    <h3 class="signupheading">Sign Up</h3>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="firstname" placeholder="firstname">
            </div>
        </div>




        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">LastName</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="lastname" placeholder="lastname">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="password" placeholder="password">
            </div>
        </div>

        <br>





        <h3 class="signupheading">Sign In</h3>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>




        <div class="row">

            <div class="col-md-6 submitbuttons ">
                <button type="submit" id="submitbutton1" class="btn btn-default">PROCEED</button>
            </div>

        </div>










    </form>








</div>




















<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>