#containerdiv{
    width: 600px;
    height: 600px;
    /*margin: auto;*/
    /*margin-top: auto;*/
    border: groove;
    box-shadow: 8px 8px 5px #888888;

    border-color: #888888;


    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


}



.form-control{
    background: #fff2a1;
}

#submitbutton1{
    text-align: center;
}


.submitbuttons{
  margin-left:40%;
    color: #fff2a1;

}



.col-sm-2{
    color: burlywood;
}



.form-group{
    padding-left: 20px;
}


.signupheading{
    text-align: left;
    color: cornsilk;
    margin-bottom: 20px;
    padding-left: 20px;
}


body{



    background: #222222;

}


#divid{
    text-align: center;
    color: blue;
}